{% if completed_expeditions %}
    <div class="overflow-x-auto">
        <table class="min-w-full bg-white">
            <thead>
                <tr>
                    <th class="py-2 px-4 border-b border-gray-200 bg-gray-50 text-left">Party</th>
                    <th class="py-2 px-4 border-b border-gray-200 bg-gray-50 text-left">Date</th>
                    <th class="py-2 px-4 border-b border-gray-200 bg-gray-50 text-left">Duration</th>
                    <th class="py-2 px-4 border-b border-gray-200 bg-gray-50 text-left">Treasure</th>
                    <th class="py-2 px-4 border-b border-gray-200 bg-gray-50 text-left">XP</th>
                    <th class="py-2 px-4 border-b border-gray-200 bg-gray-50 text-left">Details</th>
                </tr>
            </thead>
            <tbody>
                {% for expedition in completed_expeditions %}
                <tr>
                    <td class="py-2 px-4 border-b border-gray-200">{{ expedition.party.name }}</td>
                    <td class="py-2 px-4 border-b border-gray-200">{{ expedition.started_at.strftime('%Y-%m-%d') }}</td>
                    <td class="py-2 px-4 border-b border-gray-200">{{ expedition.node_results|length }} turns</td>
                    <td class="py-2 px-4 border-b border-gray-200">
                        {% set total_loot = expedition.node_results|sum(attribute='loot') %}
                        {{ total_loot }} gold
                    </td>
                    <td class="py-2 px-4 border-b border-gray-200">
                        {% set total_xp = expedition.node_results|sum(attribute='xp_earned') %}
                        {{ total_xp }}
                    </td>
                    <td class="py-2 px-4 border-b border-gray-200">
                        <a href="/expeditions/{{ expedition.id }}" class="text-blue-600 hover:underline">View</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <div class="bg-gray-100 p-6 rounded-lg text-center">
        <p>No completed expeditions yet.</p>
    </div>
{% endif %}